#!/usr/bin/make -f

SHELL := /bin/bash

override_dh_auto_build:
	mkdir -p bin
	set -ex && \
		export CGO_ENABLED=0 && \
		go build \
			-mod vendor -buildmode pie -v \
			-ldflags "-s -w -extldflags '-static -lm'" \
			-o ./bin/yq .

override_dh_auto_install:
	install -Dpm755 -d debian/tmp/usr/bin
	install -Dpm755 -d debian/tmp/usr/share/bash-completion/completions
	install -Dpm755 -t debian/tmp/usr/bin bin/yq
	./bin/yq shell-completion bash > debian/tmp/usr/share/bash-completion/completions/yq

override_dh_auto_test:

override_dh_auto_clean:

%:
	dh $@
